.edit-document-container#document-container
.actions
#btn-back {
  margin-top: 1em;
}

#body-group-signature
#edit-document-popup {
  display: none;
}

#body-group-signature
.edit-document-container {
  height: 100%;
 }

 