@font-face {
  font-family: 'Journal';
  src: font-url('journal/journal.eot');
  src: font-url('journal/journal.eot?#iefix') format('embedded-opentype'),
       font-url('journal/journal.woff') format('woff'),
       font-url('journal/journal.ttf') format('truetype'),
       font-url('journal/journal.svg#JournalRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GreatVibes Regular';
  src: font-url('GreatVibes-Regular/GreatVibes-Regular.eot');
  src: font-url('GreatVibes-Regular/GreatVibes-Regular.eot?#iefix') format('embedded-opentype'),
       font-url('GreatVibes-Regular/GreatVibes-Regular.woff') format('woff'),
       font-url('GreatVibes-Regular/GreatVibes-Regular.ttf') format('truetype'),
       font-url('GreatVibes-Regular/GreatVibes-Regular.svg#GreatVibesRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LobsterTwo-Italic';
  src: font-url('LobsterTwo-Italic/GreatVibes-Regular.eot');
  src: font-url('LobsterTwo-Italic/GreatVibes-Regular.eot?#iefix') format('embedded-opentype'),
       font-url('LobsterTwo-Italic/LobsterTwo-Italic.woff') format('woff'),
       font-url('LobsterTwo-Italic/LobsterTwo-Italic.ttf') format('truetype'),
       font-url('LobsterTwo-Italic/LobsterTwo-Italic.svg#LobsterTwoItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ScriptinaPro';
  src: font-url('ScriptinaPro/ScriptinaPro.eot');
  src: font-url('ScriptinaPro/ScriptinaPro.eot?#iefix') format('embedded-opentype'),
       font-url('ScriptinaPro/ScriptinaPro.woff') format('woff'),
       font-url('ScriptinaPro/ScriptinaPro.ttf') format('truetype'),
       font-url('ScriptinaPro/ScriptinaPro.svg#ScriptinaPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia-Regular';
  src: font-url('Sofia-Regular/Sofia-Regular.eot');
  src: font-url('Sofia-Regular/Sofia-Regular.eot?#iefix') format('embedded-opentype'),
       font-url('Sofia-Regular/Sofia-Regular.woff') format('woff'),
       font-url('Sofia-Regular/Sofia-Regular.ttf') format('truetype'),
       font-url('Sofia-Regular/Sofia-Regular.svg#SofiaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KaushanScript-Regular';
  src: font-url('KaushanScript-Regular/KaushanScript-Regular.eot');
  src: font-url('KaushanScript-Regular/KaushanScript-Regular.eot?#iefix') format('embedded-opentype'),
       font-url('KaushanScript-Regular/KaushanScript-Regular.woff') format('woff'),
       font-url('KaushanScript-Regular/KaushanScript-Regular.ttf') format('truetype'),
       font-url('KaushanScript-Regular/KaushanScript-Regular.svg#KaushanScriptRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
